.window-bar, .window-launcher, .window-bluetooth {
    background-color: #313244;
}

.bar {
    padding: 10px;
}

.item {
    border-radius: 5px;
    background-color: #b4befe;
    color: #181825;
    padding: 10px 0;
}

.item__icon {
    margin-bottom: 10px;
}

.first-revealer-item {
    margin-bottom: 10px;
    padding: 12.5px 10px;
}

.window-launcher, .window-bluetooth {
    color: #cdd6f4;
}

.launcher {
    border: 1px solid #cdd6f4;
    border-radius: 7px;
    padding: 20px;
}

.launcher__label {
    font-size: xx-large;
}

.launcher__entry {
    min-width: 500px;
    margin-left: 20px;
    font-size: x-large;
    color: #cdd6f4;
    outline: none;
}

.window-bluetooth {
    padding: 10px;
}

.bluetooth-devices {
    border-radius: 5px;
    border: 1px solid #cdd6f4;
    padding: 5px 5px 5px 15px;
    margin-top: 10px;
}

.bluetooth-top-bar {
    margin: 10px 0;
}

.bluetooth-middle-bar {
    margin: 10px 0 0 0;
}
