.bar {
    padding: 10px;
}

.item {
    border-radius: 5px;
    background-color: #b4befe;
    color: #181825;
    padding: 10px;
}

.item__icon {
    margin-bottom: 10px;
}

.first-revealer-item {
    margin-bottom: 10px;
    padding: 12.5px 10px;
}

.launcher {
    border: 1px solid #cdd6f4;
    border-radius: 7px;
    padding: 20px;
}

.launcher__label {
    font-size: xx-large;
}

.launcher__entry {
    min-width: 500px;
    margin-left: 20px;
    font-size: x-large;
}