.window-bar, .window-launcher {
    background-color: #313244;
}

.bar {
    padding: 10px;
}

.item {
    border-radius: 5px;
    background-color: #b4befe;
    color: #181825;
    padding: 10px;
}

.item__icon {
    margin-bottom: 10px;
}

.first-revealer-item {
    margin-bottom: 10px;
    padding: 12.5px 10px;
}

.window-launcher {
    color: #cdd6f4;
}

.launcher {
    padding: 20px;
}

.launcher__label {
    font-size: xx-large;
}

.launcher__entry {
    min-width: 500px;
    margin-left: 20px;
    font-size: x-large;
    color: #cdd6f4;
    outline: none;
}