.bar {
    padding: 10px;
}

.item {
    border-radius: 5px;
    background-color: #b4befe;
    color: #181825;
    padding: 10px 0;
    min-height: 20px;
}

.item > :first-child:not(:last-child) {
    margin-bottom: 10px;
}

.button {
    border: none;
    outline: none;
    background: #b4befe;
}

.button--inverted-colors {
    color: #b4befe;
    background: #181825;
}

.button--small {
    padding: 0;
}
