.bar {
    padding: 20px 8px 20px 0;
}

.bar__widget {
    min-height: 1361px;
    background-color: #313244;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    padding: 10px;
}

.item {
    border-radius: 5px;
    background: #b4befe;
    color: #181825;
    padding: 10px 0;
    min-height: 0px;
}

.item > :first-child:not(:last-child) {
    margin-bottom: 10px;
}

.button {
    border: none;
    outline: none;
}

.button--inverted-colors {
    color: #b4befe;
    background: #181825;
}

.button--small {
    padding: 0;
}
