.bluetooth {
    padding: 1000px 2980px 30px 20px;
}

.bluetooth__widget {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    background-color: #313244;
    padding: 20px;
    min-width: 300px;
}

.bluetooth__header {
    font-size: x-large;
    font-weight: 700;
}

.bluetooth__device {
    color: #ffffff;
    background-color: #313244;
    border: 1px solid #b4befe;
    padding: 8px 8px 8px 10px;
    border-radius: 5px;
}

.bluetooth__device--connected {
    border-radius: 5px;
    color: #181825;
    background-color: #b4befe;
}
