.launcher {
    padding: 600px 1400px 800px 1300px;
}

.launcher--laptop {
    padding: 400px 1000px 0 1050px;
}

.launcher__widget {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: #313244;
    border: 2px solid #7f849c;
    border-radius: 16px;
    padding: 20px 30px;
}

.launcher__label {
    font-size: xx-large;
}

.launcher__entry {
    min-width: 500px;
    margin-left: 30px;
    font-size: xx-large;
    color: #cdd6f4;
    outline: none;
}

block-cursor {
    background-color: rgba(0, 0, 0, 0);
}
