.launcher {
    border: 1px solid #cdd6f4;
    border-radius: 7px;
    padding: 20px;
}

.launcher__label {
    font-size: xx-large;
}

.launcher__entry {
    min-width: 500px;
    margin-left: 20px;
    font-size: x-large;
    color: #cdd6f4;
    outline: none;
}

block-cursor {
    background-color: rgba(0, 0, 0, 0);
}
